.likes.m-body {
  border: 2px solid #d3d3d3; 
  padding: 10px; 
  width: 90%; 
  height: 180px; 
  border-radius: 35px;
  position: relative;
  color: black;
}
/* 날짜 */
.likes.m-body > span.date {
  position: absolute;
  top: 44%;
  left: 80%;
  font-size: 20px;
}
/* 지역이름 */
.likes.m-body > span.float-left {
  position: absolute;
  top: 76%;
  right: 12%;
  font-size: 19px;
  
  white-space: normal;
     overflow: hidden;
     line-height: 1.3;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp : 1;
     -webkit-box-orient: vertical;
     max-width: 250px;
 
}
/* 제목 */
.likes.m-body > p.styled-text {
  position: absolute;
  top: 25%;
  width: 80%;
  transform: translateX(5%);
  left: 5%;
  font-size: 25px !important;
     font-weight: bold;
  
  white-space: normal;
     overflow: hidden;
     line-height: 1.3;
     height: 2.6em;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp : 3;
     -webkit-box-orient: vertical;
}
/* 선 */
.likes.m-body > hr.position-line {
  position: absolute;
  top: 40%;
  width: 90%;
  margin: 5% 5%;
  border: 1px solid black;
  left: 0;
}
/* 아이디 사진 */
.likes.m-body > img.login-image {
  position: absolute;
  bottom: 5%;
  left: 8%;
  width: 43px;
  height: 43px;
}
/* 아이디(닉네임) */
.likes.m-body > span.bottom-left {
  position: absolute;
  bottom: 10%;
  left: 14%;
  font-size: 15px;
}