#post-form {
  margin-top: 120px; 
}
#postTitle {
  font-size: 25px;
}
#postTitleModify {
  font-size: 25px;
}
.post-label {
  font-size: 18px;
}
.post-form {
  max-width: 70%;
  margin: 0 auto 30px;
  border-radius: 8px;
}
.radio-font {
  font-size: 17px;
  margin-left: -13%;
}
#resultContainer {
  position: absolute;
  border: 1px solid #ccc; 
  background-color: #fff; 
  z-index: 999; 
  width: 100% !important;
}
#resultContainer p {
  box-sizing: border-box;
  padding: 10px; 
  margin: 0; 
}
/* 검색이미지 */
.post-search {
  position: relative;
}
.post-search input {
  padding-right: 30px; 
}
#searchImg {
  position: absolute;
  top: 52%;
  right: 49px; 
  transform: translateY(-50%);
  width: 23px; 
  height: 23px;
}
#xImg {
  position: absolute;
  top: 50%;
  right: 14px; 
  transform: translateY(-50%);
  width: 22px; 
  height: 22px; 
}
.post-form .btn-primary {
  border: 1px; 
  border-radius: 8px; 
}
.post-form .btn-secondary {
  background-color: #6c757d; 
  color: #fff; 
  border: 1px; 
  border-radius: 8px; 
  padding: 10px 20px;
  margin-left: 10px;
}