.detail-image {
  width: 70px;
  height: 70px;
}
.heart-image {
  width: 48px;
  height: 44px;
  margin-left: 350px;
}
.post-detail {
  margin-top: 80px; 
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
#postModifyForm{
  margin-top: 60px; 
}
.radio-font {
  font-size: 17px;
  margin-left: -13%;
}
.post-form {
  max-width: 60%;
  margin: 0 auto 30px;
  border-radius: 8px;
}
#postTitle {
  font-size: 45px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 50px;
}
#postNickname {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}
#postNickname::after {
  content: "|";
  margin: 0 15px;
  font-weight: normal; 
}
#postRegdate {
  font-size: 18px;
  margin: 0 5px;
  font-weight: bold; 
}
#postView {
  font-size: 18px;
  margin: 0 10px;
  font-weight: bold; 
}
#postLikecnt {
  font-size: 20px;
  margin: 0 5px;
  font-weight: bold; 
}
#postRegdateDay {
  font-size: 17px;
  margin: 0 5px;
  font-weight: normal; 
}
.dayType {
  font-size: 25px;
  font-weight: normal; 
}
.dayTypeValue {
  font-size: 25px;
  font-weight: bold;
  margin-left: 25px; 
}
.post-button {
  display: flex;
  justify-content: flex-end;
}
.post-button button {
  float: right;
  margin: 7px 7px;
}
.post-info {
  margin-top: 10px;
} 
#contentTitle {
  font-size: 20px;
  font-weight: normal; 
  margin-left: 13px; 
}
.postContent {
  font-size: 25px;
  margin-left: 13px; 
  margin-top: 50px; 
}
.comment-content {
  margin-top: 30px; 
  margin-left: 72px;
  height: 70px;
  width: 78%;
}
.comment-content-modify {
  margin-top: -1px; 
  margin-left: 72px;
  height: 70px;
  width: 78%;
}
.reply-content-modify {
  margin-top: -1px; 
  margin-left: 72px;
  height: 70px;
  width: 73%;
}
.comment-nickname {
  margin-top: -48px; 
  margin-left: 72px;
}
.comment-date {
  margin-top: -11px; 
  margin-left: 72px;
}
p[id^="comment-content-"] {
  font-size: 21px;
}
p[id^="comment-nickname-"] {
  font-size: 18px;
}
p[id^="comment-date-"] {
  font-size: 14px;
}
.reply-content {
  margin-top: 20px; 
  margin-left: 72px;
  height: 50px;
  width: 80%;
}
.reply-nickname {
  margin-top: -48px; 
  margin-left: 72px;
}
.reply-date {
  margin-top: -11px; 
  margin-left: 72px;
}
p[id^="reply-content-"] {
  font-size: 18px;
}
p[id^="reply-nickname-"] {
  font-size: 17px;
}
p[id^="eply-date-"] {
  font-size: 14px;
}
.comment-image {
  width: 53px;
  height: 53px;
  margin-top: 0px;
  margin-left: 0px;
}
.reply-image {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
}
button[id^="comment-button-"] {
  margin-top: -310px; 
  margin-left: 83%;
  font-size: 14px;
}
button[id^="comment-button1-"] {
  margin-top: -310px; 
  margin-left: 83%;
  font-size: 14px;
}
button[id^="comment-modify-button"] {
  margin-top: -270px;  
  margin-left: 68.4%;
  font-size: 14px;
}
button[id^="comment-delete-button"] {
  margin-top: -310px; 
  margin-left: 75%;
  font-size: 14px;
}
button[id^="reply-modify-button"] {
  margin-top: -220px;  
  margin-left: 67.4%;
  font-size: 14px;
  margin-bottom: 5px;
}
button[id^="reply-delete-button"] {
  margin-top: -260px; 
  margin-left: 75%;
  font-size: 14px;
  margin-bottom: 5px;
}
#commentContent {
  font-size: 20px;
  width: 84%;
}
textarea[id^="reply-content-"] {
  font-size: 18px;
  width: 80%;
}
.commentArea {
  height: 120px;
}
.reply-input {
  margin-top: 30px; 
  margin-bottom: 20px; 
  margin-left: 100px;
}
.reply-line {
  margin-bottom: 20px; 
}
.reply-list {
  margin-top: 30px; 
  margin-bottom: 20px; 
  margin-left: 100px;
}
textarea[id^="comment-modify-content-"] {
  font-size: 21px;
}
div[id^="reply-button-"] {
  display: none;
}
div[id^="comment-textarea-"] {
  display: none;
}
div[id^="comment-modify-"] {
  height: 100px;
}
.media-entry{
	margin-bottom: -50px;
}
#comment-content{
  font-size: 17px;
}
.position-line{
  margin-botton: 15px; 
}
#commentAdd{
  font-size: 18px;
  margin-top: -85px;
  width: 100px;
  height: 91px;
}
#replyAdd{
  font-size: 16px;
  margin-top: -75px;
  width: 88px;
  height: 83px;
}
.comment-input {
  margin-top: 50px; 
}
#comment-count {
  font-size: 18px;
  font-weight: bold;
}
#comment-number {
  font-size: 18px;
  font-weight: bold;
}